body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;

}
.container{
    height: 100%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
#searchInput{
    width: 960px;
    border-radius: 3px;
    border: 0;
    height: 5vh;
    font-size: 2em;
}
mat-icon{
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    border-radius: 3px;
    height: 5vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3vw;
}
